* {
    box-sizing: border-box;
}

.shell_container {
    width: 100vw;
    height: 100vh;
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
}

.outlet {
    border: 1px solid red;
    height: 100%;
    flex: 1;
}

img {
    &.header_logo {
        aspect-ratio: 1 / 1;
        height: 40px;
    }
}