footer {
    height: 1.5rem;
    background: #333;
    color: #FFF;
    font-size: 12px;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    > p {
        text-align: center;
        // border: 1px solid white;
        // color: #FFF;
    }
}