.login_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        &.card {
            background-color: #fcfcfc;
            border: 2px solid white;
            width: 500px;
            height: auto;
            padding: 1.75rem;
            border-radius: 12px;
            box-shadow: 1px 0px 16px 4px #00000019;
            -webkit-box-shadow: 1px 0px 16px 4px #00000019;
            -moz-box-shadow: 1px 0px 16px 4px #00000019;

            > form {
                > div.field_wrapper {
                    min-height: 90px;
                    // border: 1px solid pink;
                }
            }
        }
    }



    > button {
        border: 2px solid pink;
    }
}

