body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  background-image: url('./Assets/Img/tailwindcss-background-image.png')
}

*{
  box-sizing: border-box;
}

.column-div{
  display: flex;
  flex-direction: column;
}

.horizontal-form{
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: .5rem;
}


.cover-photo{
  width: 100%;
  height: 15rem;
  content: url('Assets/Img/default-cover-photo.webp');
  object-fit: cover;
  opacity: 50%;
}

.logo-img{
  height: .5rem;
  width: .5rem;
}

.logo-title-divider{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .75rem;
  align-items: center;
}

.edit-account-security-form{
  width: 50%;
  height: auto; 
  spellcheck: false;
  display: flex;
  flex-direction: column;
}

.add-subject-form{
  display: grid;
  grid-template-column: 2;
  grid-gap: .75rem;
}
