body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  background-image: url('./Assets/Img/tailwindcss-background-image.png')
}

*{
  box-sizing: border-box;
}

.column-div{
  display: flex;
  flex-direction: column;
}

.horizontal-form{
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: .5rem;
}