body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  background-image: url('./Assets/Img/tailwindcss-background-image.png')
}

*{
  box-sizing: border-box;
}

