@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', serif;
  // background: #F8F8F8;
  background-image: url('./Assets/Img/app_bg.png') no-repeat center;
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}