* {
    box-sizing: border-box;
}
.sidebar {
    width: 250px;
    border-right: 1px solid #d1d1d1;

    > nav {
        padding: 0px 1rem;

        > .college-group {
            display: flex;
            align-items: center;
            gap: .5rem;
            padding: .75rem 0;

            > h1 {
                font-size: 2rem;
                color: #555;
                display: flex;
                flex-direction: column;
                > span {
                    font-size: 11px;
                    color: #888;
                    font-weight: 400;
                }
            }
        }

        > hr {
            border: none;
            border-top: 1px solid #d1d1d1;
        }

        > ul {
            list-style-type: none;
            padding: 0;

            > li {
                font-size: 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                gap: .5rem;
                font-weight: 400;
                color: #333;
                padding: .5rem 0;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    span {
        filter: drop-shadow(1px 1px 10.5px #a7a7a7);
        color: #333;
    }
}